<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CricStat</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <style>
        .container{
            width: 100%;
            background-color: aqua;
        }

        .description{
            float: left;
            width: 35%;
            margin: 10%;
            margin-right: 7%;
            margin-top: 7%;
            text-align: center;
            color: rgba(85, 13, 13, 0.986);
            font-size: 1.2em;
            /* background-color: red; */
        }

        .entryImg{
            max-width:100%;
        }

        .login{
            float: left;
            width: 30%;
            margin: 5%;
            margin-right: 10%;
        }

        .access .button{
            width: 100%;
            padding: 5%;
            margin-bottom: 10px;
            background: transparent;
            border: 0px;
            border: 2px solid blue;
            color: blue;
            border-radius: 6px;
        }

        .access .button:hover{
            color:blue;
            cursor: pointer;
            background: rgb(250, 250, 246);
        }

        .admin_login{
            border: 0px;
            border: 2px solid blue;
            border-radius: 6px;
            background: transparent;
            padding: 10px;
        }

        .admin_login:hover{
            background: rgb(246, 246, 246);
        }

        .admin_login .heading{
            text-align: center;
            margin-bottom: 4px;
        }

        .admin_login #username{
            width:96%;
            margin-right: 2%;
            margin-left: 2%;
            margin-bottom: 12px;
            height: 30px;
            border: 0px;
            border:2px solid #ddd;
            border-radius: 4px;
            padding-left: 4px;
        }

        .admin_login #password{
            width:96%;
            margin-right: 2%;
            margin-left: 2%;
            margin-bottom: 12px;
            height: 30px;
            border: 0px;
            border:2px solid #ddd;
            border-radius: 4px;
            padding-left: 4px;
        }

        .admin_login #submitForm{
            width:96%;
            margin:0 px;
            margin-right: 2%;
            margin-left: 2%;
            margin-top: 10px;
            margin-bottom: 4px;
            padding:0px;
            height: 30px;
            background: linear-gradient(to bottom, #f5d78e, #eeb933);
            border: 0px;
            border: 2px solid rgb(200, 134, 198);
            border-radius: 4px;
        }

    </style>
</head>
<body>
    <!-- <h1>Main Page</h1> -->
    <div class = "container">
        <div class = "description">
            <!-- <img src="/icons/pitch.jpg" alt="pitch" class = "entryImg""> -->
            <p style = "font-size: 1.4em; color: rgb(165, 53, 1)">CricStat</p>
            <p>Cricket is a well famous game in commonweatlth conutries.
                It's called as game of gentlmen. <br> Here we provide you 
                an easy access to cricket database. You can go 
                through scorecard of matches and make specific
                query.
            </p>
        </div>
        <div class = "login">
            <div class = "access">
                <form action="/userLogin" method="GET">
                    <input type="submit" class="button" value="Go To User Page">
                </form>
            </div>
            <div class = "admin_login">
                <div class = "heading">Admin Login</div>
                <form id = "adminForm" action="/admin", method="POST", name="adminLoginForm">
                    Username:
                    <br>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <br>
                    Password:
                    <br>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <br>
                    <input type="checkbox" id="showPassCheckBox" name="showPassCheckBox" value="showPassword">
                    Show Password <br>
                    <input type="submit" id="submitForm"  value="Login">
                </form>
            </div>
        </div>
    </div>
</body>
</html>