<div id = "insertionForm">
    <form action="/", id = "umpiresInsertForm">
        Enter Umpire Name: <br>
        <input type="text" name = "umpire_name" placeholder="Enter" id = "umpire_name" required>
        <br>
        <input type="submit" name="submit"  id="submit">
    </form>

    <style>
        #insertionForm{
            display: inline-block;
            padding: 10px;
        }
    
        input[type=text]{
            padding:7px 5px 7px 5px;
            border: 0;
            font-size:medium;
            border: 1px solid gray;
            border-radius: 4px;
        }
    
        input[type=submit]{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 8px;
            border:0;
            border: 1px solid rgb(13, 13, 201);
            border-radius: 2px;
            color: white;
            background-color: rgb(13, 13, 201);
        }
    </style>
    
    <script>
        $(document).ready(()=> {
            $('#umpiresInsertForm').submit(event => {
                event.preventDefault()
                const formData = $('#umpiresInsertForm').serialize()
    
                $.ajax({
                    type: 'POST',
                    url: 'admin/insert/Umpires',
                    data:formData,
                    contentType : "application/x-www-form-urlencoded",
                    success: (data) => {
                        console.log("Data Inserted")
                    },
                    error: (err) => {
                        console.log("Error Occured")
                    }
                })
            })
        })
    </script>
</div>