<div id = "insertionForm">
        <form action="/", id = "battingScorecardInsertForm">
            Match Id: <br>
            <input type="text" name = "match_id" placeholder="Enter" id = "match_id" required>
            <br>
            Player Id: <br>
            <input type="text" name = "player_id" placeholder="Enter" id = "player_id" required>
            <br>
            Batting Position: <br>
            <input type="text" name = "batting_position" placeholder="Enter" id = "batting_position" required>
            <br>
            Team Position: <br>
            <input type="text" name = "team_position" placeholder="Enter" id = "team_position" required>
            <br>
            Runs Scored: <br>
            <input type="text" name = "runs_scored" placeholder="Enter" id = "runs_scored" required>
            <br>
            Balls Faced: <br>
            <input type="text" name = "balls_faced" placeholder="Enter" id = "balls_faced" required>
            <br>
            Out_Notout(1/0): <br>
            <input type="text" name = "out_notout" placeholder="Enter" id = "out_notout" required>
            <br>
            Out By(PlayerId): <br>
            <input type="text" name = "out_by" placeholder="Enter" id = "out_by" required>
            <br>
            Out Type: <br>
            <input type="text" name = "out_type" placeholder="Enter" id = "out_type" required>
            <br>
            Out By1(PlayerId): <br>
            <input type="text" name = "out_by1" placeholder="Enter" id = "out_by1" required>
            <br>
            4s: <br>
            <input type="text" name = "fours" placeholder="Enter" id = "fours" required>
            <br>
            6s: <br>
            <input type="text" name = "sixes" placeholder="Enter" id = "sixes" required>
            <br>
            fall_of_wicket_overs_done: <br>
            <input type="text" name = "fall_of_wicket_overs_done" 
                placeholder="Enter" id = "fall_of_wicket_overs_done" required>
            <br>
            fall_of_wicket_ball_no: <br>
            <input type="text" name = "fall_of_wicket_ball_no" placeholder="Enter" 
                id = "fall_of_wicket_ball_no" required>
            <br>
            fall_of_wicket_score: <br>
            <input type="text" name = "fall_of_wicket_score" placeholder="Enter" 
                id = "fall_of_wicket_score" required>
            <br>
            <input type="submit" name="submit"  id="submit">
        </form>
    
        <style>
            #insertionForm{
                display: inline-block;
                padding: 10px;
            }
        
            input[type=text]{
                padding:7px 5px 7px 5px;
                border: 0;
                font-size:medium;
                border: 1px solid gray;
                border-radius: 4px;
            }
        
            input[type=submit]{
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 8px;
                border:0;
                border: 1px solid rgb(13, 13, 201);
                border-radius: 2px;
                color: white;
                background-color: rgb(13, 13, 201);
            }
        </style>
        
        <script>
            $(document).ready(()=> {
                $('#battingScorecardInsertForm').submit(event => {
                    event.preventDefault()
                    event.stopImmediatePropagation()
                    const formData = $('#battingScorecardInsertForm').serialize()
                    $.ajax({
                        type: 'POST',
                        url: 'admin/insert/Countries',
                        data: formData,
                        contentType: 'application/x-www-form-urlencoded',
                        success: (data)=>{
                            console.log("Data Inserted")
                        },
                        error: (err) => {
                            console.log(err)
                        }
                    })
                })
            })
        </script>
    </div>